.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  background-color: #9bbec8;
  width: 550px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form-input {
  width: 400px;
  height: 30px;
  border: 1px solid rgb(125, 118, 118);
  border-radius: 5px;
}
.login-form-label {
  margin-bottom: 5px;
}
.ok-btn {
  border-radius: 20px;
  background-color: lightgrey;
  color: white;
  border: none;
  margin-top: 10px;
  width: 400px;
  padding: 5px;
  margin-top: 20px;
}
.warning-msg {
  color: red;
  font-size: 10px;
  margin-bottom: 10px;
}
